extends baseEmail

block content
  // CONTENT
  p Hi #{firstName},
  p To reset your password click the button below. In case you have an issue with the button,
  p you may use this URL: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset password
  p If you didn't forget your password, just ignore this message.
  p
  p Regards,
  p The Natours Security Team
