extends base

block content 
  main.main
  .login-form
    h2.heading-secondary.ma-bt-lg Sign up to a new account
    form.form
      .form__group
        label.form__label(for='firstname') First name
        input#firstname.form__input(type='text', placeholder='John', required, minlength='2')
      .form__group
        label.form__label(for='familyname') Family names
        input#familyname.form__input(type='text', placeholder='Doe Smith', required, minlength='2')
      .form__group
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='johndoesmith@example.com', required)
      .form__group.ma-bt-md
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.ma-bt-md
        label.form__label(for='password-confirm') Confirm Password
        input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group
        button.btn.btn--green Signup